<!-- rate/templates/rate/all_reviews.html -->
{% extends "rate/layout.html" %}

{% block body %}

<div class="container-fluid">
  <div class="store-container">
    <div class="card">
      <h2>All Reviews </h2>
      {% for review in reviews %}
      <ul>
        <div class="review">
          <!-- Link to the store_profile page by tore id, showing as the store name -->
          <p><a href="{% url 'store_profile' review.store.id %}">{{ review.store.name }}</a></p> 
          <span hidden><h2> ID : {{ store.id }} </h2></span>
          <img src="{{ store.image_url }}" alt="iamge">
          <p>Posted by {{ review.user }} on {{ review.timestamp }}</p>
          <p>Store: {{ review.store }}</p>
          <p>Content: {{ review.content }}</p>
          <p>Rate Heart: {{ review.star_rating }}</p>
          <p>Spending: {{ review.spending }}</p>
          <p>Likes : {{ review.likes }}</p>
          <hr>
        </div>
      </ul>
        {% endfor %}



      <!-- pagination -->
      <div class="pagination">
        <span class="step-links">
            {% if reviews.has_previous %}
            <a href="?page=1">&laquo; First |  </a>
            <a href="?page={{ reviews.previous_page_number }}">   previous</a>
            {% endif %}

            <span class="current">
                Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
            </span>

            {% if reviews.has_next %}
            <a href="?page={{ reviews.next_page_number }}">Next |  </a>
            <a href="?page={{ reviews.paginator.num_pages }}">   Last &raquo;</a>
            {% endif %}
        </span>
      </div>


    </div>
  </div>
</div>


{% endblock %}

