<!-- rate/category_detail.html -->
{% extends 'rate/layout.html' %}  

{% block body %}
{% block content %}


<div class="container-fluid">
<h2>{{ category.name }} list</h2>

<p>Number of stores: {{ category.store_set.count }}</p>
<!-- <p>Image URL: {{ category.image_url }}</p> -->
    <ul>
        {% for store in category.store_categories.all %}
            <li><a href="{% url 'store_profile' store.id %}">{{ store.name }}</a></li>
        {% endfor %}
    </ul>

<hr>

<p><a href="{% url 'category_list' %}">Back to Category List</a></p>
</div>
{% endblock %}
{% endblock %}
