{% extends 'rate/layout.html' %}

{% block body %}
{% block content %}
<div class="container-fluid">
  <div class="store-container">
    <div class="card">
      <div class="card-body">
        <h4>Post your reviews</h4>
        <form method="post" >
            {% csrf_token %}
            <!-- hid the store id on the front-end -->
            <span hidden> 
              <div class="form-group">
                <label for="store_id">store_id:</label>
                <input type="number" class="form-control" id="store_id" name="store_id" value="{{ store.id }}">
              </div>
            </span>
            <div class="form-group">
              <label for="content">Review Content:</label>
              <textarea class="form-control" id="content" name="content" rows="4" placeholder="Write your review here"></textarea>
            </div>
            <div class="form-group">
              <label for="star_rating">Star rating:</label>
              <input type="number" class="form-control" id="star_rating" name="star_rating" min="1" max="5" value="">
            </div>
            <div class="form-group">
              <label for="spending">Spending:</label>
              <input type="number" class="form-control" id="spending" name="spending" min="1.00" step="1.00" value="0.00">
            </div>
            <div class="form-group">
              <label for="image_url">Image URL:</label>
              <input type="url" class="form-control" id="image_url" name="image_url">
            </div>
            <div class="form-group">
              <label for="link_url">Link URL:</label>
              <input type="url" class="form-control" id="link_url" name="link_url">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    
{% endblock %}

{% endblock %}