{% extends "rate/layout.html" %}
{% load static %}

{% block body %}

{% block content %}



<div class="container-fluid">
  <div class="store-container">
    <div class="card">
      <div class="card-body">
          <div class="row">
          <!-- <div class="media">
            <div class="media-body">
              <h5 class="mt-0"></h5> -->
            
              {% for review in reviews %}

              <div class="card col-sm-3">

              <img class="card-img-top" src="{{ review.image_url }}" class="float-right" alt="Image" width="100" height="100">
              <div class="card-body text-center" >
                <!-- <img src="{{ review.image_url }}" class="float-left" alt="iamge" width="60" height="60"> -->
              
                <h4 class="card-title"><p>
                <a href="{% url 'store_profile' review.store.id %}"> Review on {{ review.store.name }}</a></p> 
              </h4>
                <p class="card-text">Star Rating: {{ review.star_rating }}</p>
                <p class="card-text">Content: {{ review.content }}</p>
                <!-- <div class="alert alert-secondary"><p class="card-text">Content: {{ review.content }}</p></div> -->
                <span hidden><h2> ID : {{ store.id }} </h2></span>
               
                <p class="card-text">Posted by <a href="{% url 'user_profile' review.user_id %}"> {{ review.user }} </p>
                <hr>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================== -->
<!-- pagination -->
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="pagination">
      <span class="step-links">
          {% if reviews.has_previous %}
          <a href="?page=1">&laquo; First |  </a>
          <a href="?page={{ reviews.previous_page_number }}">   previous</a>
          {% endif %}

          <span class="current">
              Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
          </span>

          {% if reviews.has_next %}
          <a href="?page={{ reviews.next_page_number }}">Next |  </a>
          <a href="?page={{ reviews.paginator.num_pages }}">   Last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
</div>

<script src="{% static 'rate/script.js' %}"></script> 

{% endblock %}
{% endblock %}



