{% extends "rate/layout.html" %}
{% load static %}

{% block body %}

  {% block content %}

      <div class="container-fluid">
        <h1>The Latest Reviews</h1>
        <hr>

        {% for review in reviews %}
          <div class="review">
            <h2><a href="{% url 'all_reviews' %}">{{ review.store }}</a></h2>
            <p>Posted by {{ review.user }} on {{ review.timestamp }}</p>
            <p>Store: {{ review.store }}</p>
            <p>Content: {{ review.content }}</p>
            <p>Rate Heart: {{ review.star_rating }}</p>
            <p>Spending: {{ review.spending }}</p>
            <p>Likes : {{ review.likes }}</p>
            <hr>
          </div>
        {% endfor %}
      </div>
    </div>

  {% endblock %}

  <script src="{% static 'rate/script.js' %}"></script> 

{% endblock %}