{% extends "rate/layout.html" %}
{% load static %}

{% block body %}



<!-- =========================== -->
<div class="container mt-5 ">
  <div class="row">
    {% for review in reviews %}
    <div class="col-sm-4">
      <div style="background-color:darkcyan;color:white;padding:20px;">
      <p class="review_rate_stars">{{ review.star_rating }}</p>
      <p class="review_content">Review: {{ review.content }}</p>
      <p>{{ review.timestamp }}</p>
      <span hidden><h2> ID : {{ store.id }} </h2></span>
      <div><strong>
      <span>Posted by 
        <a style="color:bisque" 
        href="{% url 'user_profile' review.user_id %}"> {{ review.user }}  </a>
        <span>for</span>
        <a style="color:beige" 
        href="{% url 'store_profile' review.store.id %}"> {{ review.store.name }} </a>
      </span>
        </strong></div>
        {% if review.image_url != "" %}
      <img src="{{ review.image_url }}" alt="Image" width="20%" height="20%">
      {% endif %}
    </div>
   <br>
    </div>
    {% endfor %}
  </div>
</div>

<!-- ================== -->
<!-- pagination -->
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="pagination">
      <span class="step-links">

          {% if reviews.has_previous %}
          
          <a href="?page=1">&laquo; First |  </a>
          <a href="?page={{ reviews.previous_page_number }}">   previous</a>
          {% endif %}

          <span class="current">
              Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
          </span>

          {% if reviews.has_next %}
          <a href="?page={{ reviews.next_page_number }}">Next |  </a>
          <a href="?page={{ reviews.paginator.num_pages }}">   Last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
</div>
<br>

<script src="{% static 'rate/display_stars.js' %}"></script> 



{% endblock %}



