{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

      <title>{% block title %}Social rate{% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="{% static 'rate/styles.css' %}" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
      
      <!-- Include CSRF token in the headers -->
     {% csrf_token %}
    </head>
    
    
    <body>
      <header>
        <title>
          <!--header content, including the logo --> 
          <div id="logo">
            <img src="{% static 'rate/images/Logo.jpeg' %}" alt="Logo">
          </div>
        </title>
      
        <div class="container-fluid">
          <div class="store-container">
            {% if user.is_authenticated %}
            <div class="alert alert-success" role="alert" href="#"><p class="mb-0">Well done! You have signe in as : {{ user.username }}</p></div>
            {% endif %}
          </div>
        </div>

        <!-- Navigation menu, etc. -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Review</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              {% if user.is_authenticated %}
              <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->

              <form class="form-inline my-2 my-lg-0" action="{% url 'search_store' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">New <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_profile' user_id=user.id %}">Profile</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'store_list' %}">Stores</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'all_reviews' %}">Reviews</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'category_list' %}">Category</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'search_store' %}">search_results</a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>

              {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
              </li>
            </ul>
          </div>
        </nav>
    {% endif %}
</header>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Reviews ⭐⭐⭐⭐⭐</h1>      
    <p>A review site for pepole and stores who wants have a review or recored on this site that to help others.</p>

  </div>
</div>

<div class="container">
  
</div>

<main>
    <!-- Main content of each page -->
    {% block body %}
    
    {% endblock %}
</main>

 <!-- Footer -->
  {% block footer %}
<footer>
  <p>&copy;  ffcweb </p>
</footer>
  {% endblock %}

<!-- Include your JavaScript files or scripts here -->
{% block extra_scripts %}
<script src="{% static 'rate/script.js' %}"></script>
{% endblock %}

<body> 
</html>