{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

      <title>{% block title %}Social rate{% endblock %}</title>
          <!-- Include jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="{% static 'rate/styles.css' %}" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
      <script src="{% static 'rate/display_stars.js' %}"></script>
      <script src="{% static 'rate/like_review.js' %}"></script>

      <!-- Include CSRF token in the headers -->
     {% csrf_token %}
    </head>
    
    
    <body>
      <header>
        <!-- <title>
          <div id="logo">
            <img src="{% static 'rate/images/reviewLogo.png' %}" alt="Logo">
          </div>
        </title> -->
      
        
        <!-- <div class="store-container">
          {% if user.is_authenticated %}
          <div class="alert alert-success" role="alert" href="#"><p class="mb-0"> Well done! You have signe in as : {{ user.username }}</p></div>
          <img src="{{ user.image_url }}" alt="image" width="25" height="25">
          {% endif %}
        </div>
  -->
      <!-- Navigation menu, etc. -->
      <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBp_jLbdg8HuM0rkuzxlGxfyB8cswrmAlFVUHdXckCgfEk4HH-Jj-HnTU4Mnu8T0VYMxc&usqp=CAU"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> -->
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container">
            <a class="navbar-brand" >
              <span> Review </span>
              <!-- <img src="/review/finalproject/rate/static/rate/images/reviewLogo.png" 
              alt="Review" width="50" height="50"> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" 
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  
                  <li class="nav-item">

                  {% if user.is_authenticated %}
                
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">New <span class="sr-only"></span></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile' user_id=user.id %}">Profile</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'store_list' %}">Stores</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'all_reviews' %}">Reviews</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Category</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>

                  &nbsp;
                  &nbsp;

                  <!-- search box -->
                  <form class="form-inline my-2 my-lg-0" style="position: absolute; right: 10%" 
                  action="{% url 'search_store' %}" 
                  method="get">
                    <input class="form-control mr-sm-2" type="search" 
                    placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" 
                    type="submit">Search</button>
                  </form>

                  &nbsp;
                  &nbsp;
                  &nbsp;

                  <div class="loggedInFo" style="position: absolute; right:3%">
                    <!-- <p class="mb-0" style="color:aliceblue">{{ user.username }}</p> -->
                    <img src="{{ user.image_url }}"  alt="image" width="45" height="45" style="border-radius:50%">
                  </div>

                  {% else %}

                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">New <span class="sr-only"></span></a>
                  </li>

              
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'store_list' %}">Stores</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'all_reviews' %}">Reviews</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Category</a>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                  </li>
                
                </ul>
              </div>
            </div>
          </nav>
    {% endif %}
</header>

<div class="jumbotron jumbotron-fluid" style="padding:100px">
  <div class="container p-3 my-3 ">
    <br>
    <h1 class="animation">Reviews ⭐⭐⭐⭐⭐</h1>      
    <p>A review site for pepole and stores who wants have a review or recored on this site 
      that to help others.
    </p>
  </div>
</div>

<div class="container">
  
</div>

<main>
    <!-- Main content of each page -->
    {% block body %}
    
    {% endblock %}
</main>

 <!-- Footer -->
  {% block footer %}
 <footer class="footer mt-auto py-3 bg-body-tertiary bg-dark text-white text-center">
   <div class="container">
     <span class="text-body-secondary"> <p>&copy;  ffcweb  ffchen.ca@gmail.com</p></span>
   </div>
 </footer>

  {% endblock %}


<body> 
</html>