<!-- rate/templates/rate/all_stores.html -->
{% extends "rate/layout.html" %}

{% block body %}

<h1>Store List</h1>

<div class="container-fluid">stores
    <div class="store-container">
      <div class="card">
        <div class="card-body">
            {% for store in stores %}
            <h2><a href="{% url 'store_profile' store.id %}">{{ store.name }}</a></h2>
            <img src="{{ store.image_url }}" alt="iamge">
            <p>Star Rating: {{ store.star_rating }}</p>
            <p>Joined Date: {{ store.Joined_date }}</p>
            <p>Address: {{ store.address }}</p>
            <p>Introduction: {{ store.introduction }}</p>
            <p>Category: {{ store.category }}</p>
            <hr>
            {% endfor %}
        </div>
        
        <!-- pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if stores.has_previous %}
                <a href="?page=1">&laquo; First |  </a>
                <a href="?page={{ stores.previous_page_number }}">   previous</a>
                {% endif %}

                <span class="current">
                    Page {{ stores.number }} of {{ stores.paginator.num_pages }}.
                </span>

                {% if stores.has_next %}
                <a href="?page={{ stores.next_page_number }}">Next |  </a>
                <a href="?page={{ stores.paginator.num_pages }}">   Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
<hr>
<br>


{% endblock %}