<!-- rate/templates/rate/all_stores.html -->
{% extends "rate/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid">
    <div class="store-container">
      <div class="card">
        <div class="card-body">
            <div class="row">

                {% for store in stores %}

                <div class="card col-sm-3">
                    <img class="card-img-top" src="{{ store.image_url }}" class="float-right" 
                    alt="Image" width="100" height="100">
                    <div class="card-body text-center" >
                    <h4 class="card-title"><p>
                        <a href="{% url 'store_profile' store.id %}">{{ store.name }}</a></p> 
                    </h4>
                    <span hidden><h2> ID : {{ store.id }} </h2></span>
                    <!-- Display average star Here -->
                    <p class="card-text">
                        <span class=" review_rate_stars">{{ store.average_rating }}</span>
                        <span>{{ store.average_rating}}</span>
                        <span>({{ store.review_count}})</span>
                    </p>
                    <!-- =============================== -->
                    <!-- <p class="card-text">Category: {{ store.category }} </p> -->
                    <!-- <p class="card-text">{{ store.introduction }}</p> -->
                    <p class="card-text">Joined Date: {{ store.Joined_date }}</p>
                  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<hr>

<!-- pagination -->
<div class="container">
    <div class="d-flex justify-content-center">
    
        <div class="pagination">
            <span class="step-links">

                {% if stores.has_previous %}

                <a href="?page=1">&laquo; First |  </a>
                <a href="?page={{ stores.previous_page_number }}">   previous</a>
                
                {% endif %}

                <span class="current">
                    Page {{ stores.number }} of {{ stores.paginator.num_pages }}.
                </span>

                {% if stores.has_next %}

                <a href="?page={{ stores.next_page_number }}">Next |  </a>
                <a href="?page={{ stores.paginator.num_pages }}">   Last &raquo;</a>

                {% endif %}

            </span>
        </div>
    </div>
</div>

<script src="{% static 'rate/display_stars.js' %}"></script> 

{% endblock %}