{% extends 'rate/layout.html' %}

<!-- Include the CSRF token -->
<script>
    var csrf_token = "{{ csrf_token }}";
</script>

{% load static %}

{% block body %}

{% block content %}

<div class="container-fluid">
    <div class="store-container">
        <div class="card">
            <div class="card-body">
                <!-- <h2><a href="{% url 'user_profile' user_id=user.id %}">
                    {{ user.username }} 's Profile</a>
                </h2> -->
                <!-- <div class="card" style="width:700px"> -->
                <div class="review" data-post-id="{{ review.id }}">
                    <img class="card-img-top" src="{{ user.image_url }}" alt="Card image" style="width:100">

                    <h1>{{ user.username }}'s' Profile</h1>
                    <p>Current Profile Image: {{ user.image_url }}</p>
                    
                    <form id="updateProfileForm" method="post">
                        {% csrf_token %}
                        <label for="newImageUrl">New Image URL:</label>
                        <input type="text" id="id_new_image_url" name="new_image_url" placeholder="Enter new image URL">
                        <button type="submit" onclick="updateProfileImage()">Update Profile Image</button>
                        <div id="loadingSpinner">Updating...</div>
                    </form> 
                        
                    
                        <div class="card-body">
                            <h4 class="card-title">{{ user.username }}</h4>
                            <p class="card-text">Joined Date: {{ user.date_joined }}</p>
                            <p class="card-text">Address: {{ user.email }}</p>
                            <p class="card-text">Introduction: {{ user.last_login }}</p>
                            <!-- <a href="#" class="btn btn-primary stretched-link">See Profile</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <hr>
    <br>

<!-- ============================= -->
<!--  Display all the posts from this user -->
<div class="container-fluid">
    <div class="store-container">
        <div class="card">
            <div class="card-body">
                <h4>All the posts from {{ user.username }}</h4>
                <hr>
                {% for review in user_reviews %}
                <div class="user_reviews">
                    <ul>
                        <div class="reviews" data-post-id="{{ review.id }}">
                            <!-- <p><a href="{% url 'store_profile' review.store.id %}">{{ review.store.name }}</a></p> 
                            <p>Posted by <a href="{% url 'user_profile' user.id %}"> {{ review.user }} for {{ review.store }} on {{ review.timestamp }} </a> </p> -->
                            <p class="card-text">Posted by 
                                <a href="{% url 'user_profile' review.user_id %}"> 
                                  {{ review.user }} 
                                </a>for <a href="{% url 'store_profile' review.store.id %}">{{ review.store.name }}</a> on {{ review.timestamp }} 
                              </p>
                            <img src="{{ user.image_url }}" alt="iamge">

                            <!-- <p>Review: {{ review.content }}</p>  -->
                            <p>Time: {{ review.timestamp }}</p>
                            <p>Content: {{ review.content }}</p>

                            <!-- <p>Rate Heart: {{ review.star_rating }}</p> -->
                            <p class="review_rate_stars">{{ review.star_rating }}</p>
                            <p>💰 {{ review.spending }}</p>

                            <!--  to display the hart to like the reviews -->
                            <div>
                                <span class="like_button" onclick="handleToggleLike({{ review.id }})" style="cursor: pointer">❤️</span>
                                <span id="review_{{ review.id }}_like_count">{{review.like_count}}</span>
                            </div>
                
                        </div>
                    </ul>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>


<!-- pagination -->
<div class="container">
    <div class="d-flex justify-content-center">
      <div class="pagination">
        <span class="step-links">
            {% if reviews.has_previous %}
            <a href="?page=1">&laquo; First |  </a>
            <a href="?page={{ reviews.previous_page_number }}">   previous</a>
            {% endif %}
  
            <span class="current">
                Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
            </span>
            {% if context.has_next %}
            <a href="?page={{ reviews.next_page_number }}">Next |  </a>
            <a href="?page={{ reviews.paginator.num_pages }}">   Last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>


<!-- Include the JavaScript file -->
<script src="{% static 'rate/display_stars.js' %}"></script> 
<script src="{% static 'rate/like_review.js' %}"></script> 
<script src="{% static 'rate/user_profile.js' %}"></script>
<!-- <script defer src="{% static 'rate/user_profile.js' %}"></script> -->



{% endblock %}
{% endblock %}